<div class="row">
  <form class="col s12">
    <div class="row">
      <h2 class="title">Creat Account</h2>
      <div class="input-field col s12">
        <textarea id="first-name" class="materialize-textarea"></textarea>
        <label for="first-name">First Name</label>
      </div>
      <div class="input-field col s12">
        <textarea id="last-name" class="materialize-textarea"></textarea>
        <label for="last-name">Last Name</label>
      </div>
      <div class="input-field col s12">
        <textarea id="username" class="materialize-textarea"></textarea>
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <textarea id="email" class="materialize-textarea"></textarea>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <textarea id="password" class="materialize-textarea"></textarea>
        <label for="password">Password</label>
      </div>
      <a id="create-account" class="waves-effect waves-light btn">button</a>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>