<div class="row">
  <form class="col s12">
    <div class="row">
      <h2 class="title">title here</h2>
      <div class="input-field col s12">
        <textarea id="title" class="materialize-textarea"></textarea>
        <label for="title">Textarea</label>
      </div>
      <div class="input-field col s12">
        <textarea id="body" class="materialize-textarea"></textarea>
        <label for="body">Textarea</label>
      </div>
      <a id="submit" class="waves-effect waves-light btn">button</a>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>