<br>
<div id="post-id" value="{{body.id}}"></div>
<div class="input-field col s6">
  <input id="title" type="text" class="validate" value="{{body.title}}">
  <label for="title">Post Title</label>
</div>

<div id="toolbar-container">
  <span class="ql-formats">
    <select class="ql-font"></select>
    <select class="ql-size"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-indent" value="-1"></button>
    <button class="ql-indent" value="+1"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-direction" value="rtl"></button>
    <select class="ql-align"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-video"></button>
  </span>
</div>
<div id="editor-container">
  {{{this.body.body}}}
</div>



<br>
<a id="submitbutton" class="waves-effect waves-light btn">Update Post</a>
<a id="deletebutton" class="waves-effect waves-light btn">Delete Post</a>

<br>
<br>

<style>
  #editor-container {
    height: 375px;
  }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

  $("#deletebutton").click(function () {
    console.log("delete request sent")
    var postId = $("#post-id").attr("value")
    $.ajax({
      url: "/api/posts/" + postId,
      type: "DELETE"
    })
      .done(function () {
        location.href = "/";
      })
  })

  $("#submitbutton").click(function () {
    var rawtitle = $("#title").val();
    console.log(title)
    var rawhtml = quill.container.firstChild.innerHTML;

    var postId = $("#post-id").attr("value")

    var postdata = {
      title: rawtitle,
      body: rawhtml
    }

    console.log(postdata)

    $.ajax({
      url: "/api/posts/" + postId,
      type: "PUT",
      data: postdata
    })
      .done(function () {
        //location.href = "/";
      })

    console.log(quill.container.firstChild.innerHTML);

  });



  // Initialize editor with custom theme and modules
  var quill = new Quill('#editor-container', {
    modules: {
      syntax: true,
      toolbar: '#toolbar-container'
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'
  });

  quill.root.innerHTML = post




</script>